{% extends 'base.html' %}

{% block title %}User Login{% endblock title%}

{% block page %}
  {{ super() }}
  <form method='POST'>
    {{ form.csrf_token }}
    <dl class='login_form'>
    <dt>{{ form.username.label }}</dt>
    <dd>{{ form.username(size=20) }}</dd>

    <dt>{{ form.password.label }}</dt>
    <dd> {{ form.password(size=32) }}</dd>

    <dt><input type='submit' value='Submit' class='login_button'></dt>
  </dl>
  </form>
  {% if login_error is defined %}
    <div class='err'> {{ login_error|e }} </div>
  {% endif %}
  </div>
{% endblock page %}
