{% extends 'base.html' %}

{% block title %}Create New User{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}


{% block body %}
{{ super() }}
<form method='POST'>
  {{ form.csrf_token }}
  <dl class='login_form'>

  <dt>{{ form.fullname.label }}</dt>
  <dd>{{ form.fullname(size=64) }}</dd>

  <dt>{{ form.email.label }}</dt>
  <dd>{{ form.email(size=64) }}</dd>

  <dt>{{ form.username.label }}</dt>
  <dd>{{ form.username(size=32) }}</dd>

  <dt>{{ form.password1.label }}</dt>
  <dd>{{ form.password1(size=32) }}</dd>

  <dt>{{ form.password2.label }}</dt>
  <dd>{{ form.password2(size=32) }} <span class='err'>{{ form.password2.other_label }}</span> </dt>

  <dt><input type='submit' value='Submit' class='login_button'></dt>
</dl>
</form>
{% if error is defined %}
  <div class='err'> {{ error }} </div>
{% endif %}
{% if form.errors is defined %}
  <ul>
    {% for error in form.errors %}
      {% for fielderr in form[error].errors %}
        <li> {{ form[error].label|e }} : {{ fielderr|e }} </li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
