:root {
  --main-bg-color:white;
  --main-gray:#f2f2f2;
  --main-red:#CF1B66;
  --main-orange:#EFA103;
  --main-yellow:#FAD800;
  --main-green:#AAB613;
  --main-blue:#373CBD;
  --main-purple:#EBC1F2;
  --main-brown:#5D0D4D;
}

dt{
  margin:5px;
}
dd{
  margin:5px;
}

.login_button{
  margin-top: 10px;
}

.login_input{
  display:block;
}

.err{
  color:red;
}

.userbar{
  color:white;
  text-align:right;
}

.navbar{
  font-family:sans-serif;
  padding:5px;
  background-color:var(--main-gray);
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  color:black;
}

.siteheading{
  width:50%;
  font-size:large;
  font-weight:bold;
}

.usernav{
  text-align:right;
  width:50%;
}
