
:root {
  --main-bg-color:white;
  --main-gray:#BFBFCE;
  --main-red:#E03D2F;
  --main-orange:#E97F02;
  --main-yellow:#F8CA00;
  --main-green:#2FBF3B;
  --main-olive:#8A9B0F;
  --main-dk-green:#3D4CBF;
  --main-blue:#3D4CBF;
  --main-lt-blue:#7ECAEA;
  --main-purple:#AB7DE0;
  --main-dk-purple:#490A3D;
  --main-magenta:#F464C7;
  --main-brown:#CC9028;
}

dt{
  margin:5px;
}
dd{
  margin:5px;
}

.login_button{
  margin-top: 10px;
}

.login_input{
  display:block;
}

.err{
  color:red;
}

.userbar{
  color:white;
  text-align:right;
}

.navbar{
  font-family:sans-serif;
  padding:5px;
  background-color:var(--main-gray);
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  color:black;
}

.navbar .heading{
  width:50%;
  font-size:large;
  font-weight:bold;
}

.navbar .heading > a:link{
  text-decoration:none;
  color:black;
}

.navbar .heading > a:visited{
  text-decoration:none;
  color:black;
}

.navbar .heading > a:hover{
  text-decoration:underline;
}

.navbar .heading .usernav{
  text-align:right;
  width:50%;
}

.page_heading{
  font-size:largest;
}


.management_div{
  margin-bottom:100px;
}

.accesstable{
  width:90%;
  margin:20px;
}

.accesstable .header{
  font-weight:bold;
  background-color:var(--main-lt-blue);
}

.accesstable .header ~ th{
}

/*
Reports
*/

.report_table{
  display:flex;
  flex:1;
}

.report{
  display:flex;
  flex-direction:column;
  flex:1;
  border-top:solid;
  overflow:hidden;
  margin-bottom:50px;
}

.report .header{
  display:flex;
  flex-direction:row;
  padding:5px;
  border-bottom:solid;
  font-weight:bold;
}

.report .header div{
  margin-right:5em;
}

.report .header .email{
  flex:1;
  text-align:right;
}


.report .metadata .fieldname{
  font-weight:bold;
  padding-right:3em;
}

.report .metadata .logname{
  font-style:italic;
  padding-right:2em;
}
