<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      <title>{% block title %}Untitled{% endblock %}</title>
      {% block css%}
      <link rel=stylesheet type=text/css href="static/developer.css">
      {% endblock %}
    {% endblock %}
</head>
<body>

{% block page %}
  {% block navbar %}
    <div class='navbar'>
        <div class="siteheading"><a href="{{url_for('developer_root')}}">Avida-ED Developer Utilities</a></div>
        {% if current_user is defined and current_user.get_id() != None %}
        <div class='usernav'>
          {{ current_user.get_id()|e }}
          <a href="{{url_for('user_settings')}}">settings</a>
          <a href="{{url_for('logout')}}">logout</a>
        </div>
        {% endif %}
      </div>
    {% endblock navbar %}

{% block page_heading %}
<h1 class='page_heading'>{% block heading_title %} {{ self.title()|e }} {% endblock heading_title %}</h1>
{% endblock page_heading %}

{% block footer %}
{% endblock footer %}

{% endblock page %}

</body>
</html>
